/* This file is for your main application css. */

.help-block {
    color: red;
    text-transform: capitalize;
    top: 45px;
    position: absolute;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}
